"*":
  "autocomplete-plus":
    confirmCompletion: "none"
    enableAutoActivation: false
    includeCompletionsFromAllBuffers: false
    useCoreMovementCommands: false
  core:
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  editor:
    fontSize: 13
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "b7a1d31b-40b5-43d0-9364-cf6f8d0f26f6"
  "markdown-table-editor": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
